@import 'variables';

.task-panel {
  background-color: @sidebar-light-bg;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-left: 1px solid @box-default-border-top-color;

  .control-sidebar-light {
    border-left: none;
    height: 100%;
    display: flex;
    flex-flow: column;
  }
  .task-group{
    flex: 1;
    overflow-y:scroll;
    h4{
      padding-left: .5em;
    }
    .overdue{
      & h4{
        color: @red;
      }
      border-left: 2px solid @red;
    }
    .today{
      & h4{
        color: @yellow;
      }
      border-left: 2px solid @yellow;
    }
    .current-week{
      & h4{
        color: @blue;
      }
    }
    .upcoming{
    }

    .task-group-container{
      margin-bottom: 1em;
    }
  }
  .task-item{
    cursor: pointer;
    padding: .5em 1em;
    border-bottom: 1px solid @box-default-border-top-color;
    &:hover{
      background: @box-default-border-top-color;
    }
  }
  .avatar{
    height: 32px;
    width: 32px;
    margin-right: 3px;
    object-fit: cover;
  }
}