@import 'variables';

.task-panel {
  background-color: @sidebar-light-bg;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-left: 1px solid @box-default-border-top-color;

  .control-sidebar-light {
    border-left: none;
  }
  .task-item-list{
    padding: 1em;
  }
  //.task-item{
  //  padding: 0 1em;
  //}
}