doctype html

html
  head
    meta(charset='UTF-8')
    title Mapofa
    style.
      body { min-width: 150px; height: 100%;}
    link(rel="stylesheet", href="/lib/fontawesome/css/font-awesome.css")
    link(rel="stylesheet", href="/lib/adminlte/bootstrap/css/bootstrap.css")
    link(rel="stylesheet", href="/lib/adminlte/dist/css/adminLTE.css")
    link(rel="stylesheet", href="/lib/adminlte/dist/css/skins/skin-blue-light.css")

  body.skin-blue-light
    #root
  include ./includes/devtools.jade
  script(src=env === 'prod' ? '/js/popup.bundle.js' : 'https://localhost:3000/js/popup.bundle.js')
